.App {
  text-align: center;
}
.headerSearch {
  width: 50%;
  height: 60%;
  margin: auto;
}
.headers{
  text-align: left;
  display: flex;
  width:100%;
  height:50px;
  background-color: lightgray;
  align-items: center;
}
.subfooter{
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: rgb(200, 200, 200);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width:100%;
  height: 40px;
}
.submitButton {
  height: 30px !important;
  width: 120px !important;
  margin-left: 20px !important;
}
.emailInput {
  margin-left: 20px !important;
  width: 500px !important;
  height: 30px !important;
}
.subfooterContent{
  display: inline-flex;
  align-items: center;
  justify-content: center;
}


.footer {
  padding:10px 0;
  background-color: #3282F0;
  color:black;
  text-align: left;
}

.footer h3 {
  padding-left: 90px;

}


.footer ul {
  padding-left: 90px;
  text-align: left;
  list-style:none;
  line-height:1.6;
  font-size:14px;
  margin-bottom:0;
}

.postSelector{
  display: flex;
  margin-top: 10px;
  margin-left: 5px;
  align-items: center;
}
.SelectedForm {
  margin-top: 10px;
  margin-left: 5px;
  text-align: left;
}
.formField{
  display: flex;
  margin-top: 10px;
  margin-left: 5px;
  align-items: center;
}
.imageUploader{
  display: flex;
  margin-top: 10px;
  margin-left: 5px;
  align-items: left;
  flex-direction:row;
}
.questionSearch{

  width: 350px;
  height: 50px;

}

.questionSearchContainer {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  margin-bottom: 10px;
}